body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 32px;
  color: #333;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: coral;
}

.section {
  background-color: #f8f8f8;
  padding: 40px 20px;
}

/* Styles for the About section */
#about {
background-color: #f8f8f8;
padding: 40px 20px;
}

#about h2 {
text-align: center;
margin-bottom: 30px;
}

/* Styles for the grid layout */
.grid-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.grid-container div {
margin: 0 10px 20px;
width: calc(25% - 20px);
text-align: center;
}

.grid-container img {
width: 100%;
border-radius: 8px;
transition: transform 0.3s ease;
}

.grid-container p {
margin-top: 10px;
font-style: italic;
}

/* Hover effect for images */
.grid-container img:hover {
transform: scale(1.1);
}


.containers{
grid-area: c;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
grid-auto-rows: 200px;
grid-gap: 20px;
grid-auto-flow: dense;
overflow: auto;
padding-right: 20px;  /*fix box-shadow on right side cutting off*/
}
/*scrollbar stuff*/
.containers {
-ms-overflow-style: none;  
overflow: -moz-scrollbars-none; 
}
.containers::-webkit-scrollbar { 
display: none;  
}
.containers>div{
z-index: 1;
position: relative;
padding: 0;
overflow: hidden;
box-shadow: 5px 5px 10px rgba(0,0,0,.2), 
      5px 5px 25px rgba(0,0,0,.1);
transition: all .3s ease-in-out;
}
.containers div img{
position: absolute;
top: 0;
width: 100%;
height: 100%;
object-fit: cover;
overflow: hidden;
transition: all .6s ease-in-out;
}
.containers>div, .containers div img{
/*   transition: all .6s ease-in-out; */
}
/*make bIG*/
.containers>div:hover, .containers>div:hover img{
transform: scale(1.05);
}
.containers>div:hover img{
/*   transform: scale(1.06); */
}
.card{
padding: 0 !important;
width: 100%;
height: 50%;
bottom: -50%;
padding: 1em !important;
box-sizing: border-box;
background: rgba(255,255,255,.5);
border-top-right-radius: 0 !important;
border-top-left-radius: 0 !important;
/*   transform: rotate(-90deg) translateX(-100%); */
/*   transform-origin: 0% 0%; */
}
.vertical{
grid-row: span 2;
}
.horizontal{
grid-column: span 2;
}
.big{
grid-row: span 2;
grid-column: span 2;
}